
<style>
    .discount-input-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 12px;
    }
    .loader {
      border: 5px solid #f3f3f3;
      border-top: 4px solid #000;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      animation: spin .5s linear infinite;
    }
    #discount-code-error {
      background: #ff00004f;
      color: #e22120;
      padding: 5px;
      border-radius: 4px;
      font-size: 13px;
      line-height: 1;
      margin-top: 10px;
    }
    .applied-discount-code-wrapper {
      display: none;
      background: #ddd;
      padding: 3px 6px;
      border-radius: 25px;
      margin-top: 10px;
    }
    .applied-discount-code-value {
      font-size: 13px;
      text-transform: uppercase;
    }
    #discount-code-error:empty {
      display: none;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    #applied-discount-code {
      display: none;
    }
  </style>

<div class="mt-5">
    <span id="applied-discount-code">
      Discount Code Applied:
      <span class="applied-discount-code-wrapper">
        <span class="applied-discount-code-value"></span>
      </span>
    </span>
    <small id="discount-code-error"></small>
    <div class="discount-input-container">
      <input
        type="text"
        id="discount-code-input"
        class="border-0 border-bottom rounded me-5 py-3 mb-4"
        autocomplete="off"
        placeholder="Coupon Code"
      >
      <button id="apply-discount-btn" class="btn border-secondary rounded-pill px-4 py-3 text-primary">
        Apply Coupon
      </button>
      <button id="remove-discount-btn" class="btn border-secondary rounded-pill px-4 py-3 text-danger" style="display:none">
        Remove Coupon
      </button>
    </div>
  </div>
  
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var code = document.getElementById('coupon-code');
      var errorNote = document.getElementById('error_note');
      var applyDiscount = document.getElementById('apply_discount');
      var removeDiscount = document.getElementById('remove_discount');
  
      applyDiscount.addEventListener('click', applyCoupon);
      removeDiscount.addEventListener('click', removeCoupon);
  
      cartData();
  
      function cartData() {
        fetch(window.Shopify.routes.root + 'cart.js', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            var discounts = data.items.length ? data.items[0].discounts : [];
            if (discounts.length && discounts[0].title) {
              code.value = discounts[0].title;
              removeDiscount.style.display = 'block';
              applyDiscount.style.display = 'none';
            } else {
              removeDiscount.style.display = 'none';
              applyDiscount.style.display = 'block';
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      }
  
      function applyCoupon() {
        errorNote.style.display = 'none';
        if (code.value === '') {
          errorNote.style.display = 'block';
          errorNote.innerHTML = 'Coupon code is required!';
          return;
        }
        let discountApplyUrl = window.location.origin + '/checkout?discount=' + code.value + '&t=' + Date.now();
        fetch(discountApplyUrl)
          .then(() => {
            return fetch(window.Shopify.routes.root + 'cart.js', {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
              },
            });
          })
          .then((response) => response.json())
          .then((data) => {
            var discounts = data.items.length ? data.items[0].discounts : [];
            if (discounts.length && discounts[0].title) {
              location.reload();
            } else {
              errorNote.style.display = 'block';
              errorNote.innerHTML = 'Coupon code is not valid!';
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      }
  
      function removeCoupon() {
        fetch('/discount/CLEAR')
          .then(() => {
            cartData();
            location.reload();
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      }
    });
  </script>
  